NATURAL LANGUAGE PROCESSING

In [2]:
# TOKENIZATION - THE PROCESS OF CONVERTING SENTENCE OR PARAGRAPH INTO WORDS OR TEXT

In [5]:
import nltk

from nltk.tokenize import word_tokenize

nltk.download('punkt')

# Word tokenize

text = 'AI is coined in the year but it gained  popularity recently'

print(word_tokenize(text))

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

['AI', 'is', 'coined', 'in', 'the', 'year', 'but', 'it', 'gained', 'popularity', 'recently']

In [6]:
# Sentence tokenize

from nltk.tokenize import sent_tokenize

text = 'AI is coined in the year, but it gained  popularity recently'

print(sent_tokenize(text))

['AI is coined in the year, but it gained  popularity recently']

**STEMMING** - THE PROCESS OF CONVERTING WORDS INTO ROOT WORDS

In [7]:
from nltk.stem import PorterStemmer

words = ['wait','waiting','waited']


s = PorterStemmer()

for w in words:
  root_word = s.stem(w)
  print(root_word)

wait
wait
wait

**LEMMITIZAION** - the process of cutting the suffix from the word, it perform morphological analysis of the words

In [11]:
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [15]:
words = ['studies','cries','waited']


s = WordNetLemmatizer()

for w in words:
  root_word = s.lemmatize(w)
  print(root_word)

study
cry
waited

**STOPWORDS** - the unneccesary or repeated words in the corpus like 'the','from','a'

In [19]:

from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [20]:
data = 'ai was introduced in the year 1956'
stopwords = set(stopwords.words('english'))
words = word_tokenize(data)
wordsFiltered = []

for w in words:
  if w not in stopwords:
    wordsFiltered.append(w)

print(wordsFiltered)

['ai', 'introduced', 'year', '1956']

**BAG OF WORDS** -  The process of converting words into vectors - how many times the words occured in the sentence

In [23]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd


content = """we love india.
india is great"""

cv = CountVectorizer()

bag = cv.fit_transform(content.splitlines())

pd.DataFrame(bag.toarray(),columns = cv.get_feature_names())

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

   great  india  is  love  we
0      0      1   0     1   1
1      1      1   1     0   0

**Collacations** - the pair of words occured together in the documents


types 
1. Bigram - combination of two words
2. trigram - combination of three words

In [30]:
import nltk

tokens = nltk.word_tokenize(text)
output = tuple(nltk.bigrams(tokens))
print(output)

(('AI', 'is'), ('is', 'coined'), ('coined', 'in'), ('in', 'the'), ('the', 'year'), ('year', ','), (',', 'but'), ('but', 'it'), ('it', 'gained'), ('gained', 'popularity'), ('popularity', 'recently'))

In [31]:
tokens = nltk.word_tokenize(text)
output = tuple(nltk.trigrams(tokens))
print(output)

(('AI', 'is', 'coined'), ('is', 'coined', 'in'), ('coined', 'in', 'the'), ('in', 'the', 'year'), ('the', 'year', ','), ('year', ',', 'but'), (',', 'but', 'it'), ('but', 'it', 'gained'), ('it', 'gained', 'popularity'), ('gained', 'popularity', 'recently'))

In [33]:

content = """we love india.
india is great"""

cv = CountVectorizer(ngram_range = (1,2))

bag = cv.fit_transform(content.splitlines())

pd.DataFrame(bag.toarray(),columns = cv.get_feature_names())

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

   great  india  india is  is  is great  love  love india  we  we love
0      0      1         0   0         0     1           1   1        1
1      1      1         1   1         1     0           0   0        0

**TFIDF** - the process of converting words into vectors

In [34]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd


content = """we love india.
india is great"""

cv = TfidfVectorizer()

bag = cv.fit_transform(content.splitlines())

pd.DataFrame(bag.toarray(),columns = cv.get_feature_names())

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

      great     india        is      love        we
0  0.000000  0.449436  0.000000  0.631667  0.631667
1  0.631667  0.449436  0.631667  0.000000  0.000000

In [35]:
content = """we love india.
india is great"""

cv = TfidfVectorizer(ngram_range = (1,2))

bag = cv.fit_transform(content.splitlines())

pd.DataFrame(bag.toarray(),columns = cv.get_feature_names())

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,great,india,india is,is,is great,love,love india,we,we love
0,0.000000,0.335176,0.000000,0.000000,0.000000,0.471078,0.471078,0.471078,0.471078
1,0.471078,0.335176,0.471078,0.471078,0.471078,0.000000,0.000000,0.000000,0.000000